<ion-header translucent>
  <ion-toolbar>
    <ion-title>Внести деньги на телефон. Выбран оператор {{this.operator?.name}}</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content fullscreen>
  <form (submit)="processForm($event)" [formGroup]="form">
    <ion-list lines="full" class="ion-no-margin ion-no-padding">
      <ion-item>
        <ion-label position="stacked">Номер телефона <ion-text color="danger">*</ion-text></ion-label>
        <ion-input
                required
                type="text"
                formControlName="phone"
                prefix="+7 "
                mask="(000) 000 00 00"
                placeholder="(000) 000 00 00"
        ></ion-input>
      </ion-item>
      <ion-item>
        <ion-label position="stacked">Сумма, руб. <ion-text color="danger">*</ion-text></ion-label>
        <ion-input
                required
                type="number"
                formControlName="sum"
                [min]="1"
                [max]="1000"
                step="1"
                placeholder="Введите число от 1 до 1000"
        ></ion-input>
      </ion-item>
      <ion-item [hidden]="!message">
        <ion-text [color]="message === 'error' ? 'danger': 'success'" >{{message}}</ion-text>
      </ion-item>
      <ion-item>
        <div class="ion-padding">
          <ion-button [disabled]="form.invalid" expand="block" type="submit" class="ion-no-margin">Create account</ion-button>
        </div>
      </ion-item>
    </ion-list>
</form>
</ion-content>

